.jobs-link {
  color: #ffffff;
  text-decoration: none;
}

.jobs-list-container {
  background-color: #272727;
  padding: 10px 30px 10px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 60px;
  width: 45px;
  margin-right: 10px;
}
.title-rating-container {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}
.location-employment-package-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-employment-container {
  display: flex;
}

.location-container {
  display: flex;
}

.employment-container {
  display: flex;
  align-items: center;
}

.location {
  margin-right: 10px;
}

.employment-type {
  margin-left: 5px;
}
