.jobs-inside-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.employment-list {
  list-style-type: none;
}
.jobs-container {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
}

.profile-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 230px;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  padding: 20px;
  height: 195px;
  width: 223px;
  color: #000000;
}
.profile-picture {
  height: 40px;
  width: 40px;
}

.profile-name {
  font-size: 20px;
}
.profile-short-bio {
  font-size: 15px;
}

.profile-employment-type-salary-container {
  height: 100vh;
  width: 400px;
}
.search-input {
  height: 40px;
  width: 350px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #f1f5f9;
}

.search-jobs-list-container {
  width: 70%;
}
.search-input-icon-container {
  display: flex;
  border: 1px solid #f1f5f9;
  cursor: pointer;
  outline: none;
  height: 40px;
  padding: 5px;
  border-radius: 6px;
  width: 350px;
}

.search-icon {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #f1f5f9;
}
.search-button {
  background-color: transparent;
  border: 0;
}

.list-of-jobs-container {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.failure-image {
  height: 350px;
  width: 300px;
}
