.jobs-container {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
}

.main-home-container {
  background-color: #000000;
  min-height: 500vh;
  background-size: cover;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 300px;
  min-height: 250px;
  background-size: cover;
  padding: 30px;
  border-radius: 20px;
  margin-right: 20px;
}

.profile-employment-salary-range-container {
  display: flex;
  flex-direction: column;
}

.profile-name {
  color: #6366f1;
  font-size: 30px;
  font-weight: 700;
}

.designation {
  color: #2c364c;
}

.jobs-inside-container {
  padding: 50px;
  display: flex;
}

.horizontal-line {
  width: 100%;
  margin-top: 20px;
}
.search-jobs-container {
  height: 100vh;
  width: 1100px;
}
.search-jobs-list-container {
  margin-left: 20px;
  width: 70%;
}
.search-input-icon-container {
  display: flex;
  border: 1px solid #f1f5f9;
  cursor: pointer;
  outline: none;
  height: 40px;
  border-radius: 6px;
  width: 500px;
  padding-left: 15px;
}

.job-search {
  background-color: transparent;
  outline: none;
  width: 100%;
  border: 0;
  color: #ffffff;
}

.search-icon {
  padding: 4px;
  border: 0 solid #7e858e;
  height: 25px;
  width: 25px;
  text-align: center;
}
.search-button {
  background-color: #7e858e;
  border: 0;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  cursor: pointer;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.search-input {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: #f1f1f1;
  cursor: pointer;
  outline: none;
}

.list-of-employment {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
}

.filters-heading {
  font-size: 16px;
}

.list-of-jobs {
  list-style-type: none;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.retry-button {
  cursor: pointer;
  outline: none;
  background-color: #6366f1;
  border: 0;
  padding: 10px 20px;
  border-radius: 8px;
  color: #f1f1f1;
}
.list-of-jobs-container {
  margin-left: 0;
  padding-left: 0;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.no-jobs-image {
  height: 350px;
  width: 400px;
  margin-bottom: 20px;
}

.no-jobs-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1px;
}
.employment-list {
  margin-left: 0;
  padding-left: 0;
}
