.home-container {
  background-color: #000;
}

.home-inside-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 100vh;
  font-family: 'Roboto';
  color: #ffffff;
  padding: 60px 50px;
}

@media screen and (min-width: 767px) {
  .home-inside-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
