.skills-list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin-left: 0;
}

.job-details-item-container {
  background-color: #000000;
  min-height: 100vh;
  color: #f1f5f9;
}
.ordered-similar-jobs {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}
